@font-face {
  font-family: 'Bahnschrift Condensed';
  src: url('fonts/BAHNSRIFT.TTF') format('truetype');
}

@font-face {
  font-family: 'Arial Nova Light';
  src: url('fonts\arial-nova-light.ttf') format('truetype');
}

h1{
  font-family: 'Bahnschrift Condensed', sans-serif;
  font-size: 3.3rem;
  line-height: 1.7;
  font-weight: bold;
  color: #062245;
}

body{
  background-color: #BCD0E9;
}

h2{
  font-size: 2.5em;
  line-height: 1.7;
  font-family: 'Bahnschrift Condensed', sans-serif;
  color: #062245;
}

h3{
  font-size: 2.0rem;
  line-height: 1.5;
  font-family: 'Arial Nova Light';
}

h4{
  font-size: 1.3rem;
  line-height: 1.2;
  font-family: 'Arial Nova Light';

}

a{
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 1.3;
  font-family: 'Arial Nova Light';

}

a:hover{
  color: red;
  text-decoration: underline;
}

p{
  font-size: 1.1rem;
  line-height: 1.3;
  font-family: 'Arial Nova Light';

}

thead{
  font-family: 'Arial Nova Light';
  font-size: 1.2rem;
  background-color: #F79C5A;
}

td{
  font-family: 'Arial Nova Light';
}

nav{
  background-color: #ea7b2c;

}

.container-fluid {
  padding: 3% 10%;
  position: relative;
}

#title{
  padding-top: 90px;
}

#exec{
  height: auto;
  padding-bottom: 0;
}



#footer {
  background-color: #F79C5A;
  padding: 30px 0;
}

.social {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 25px;
  color: #4b4c4d;
}

.social a{
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.social a:hover{
  opacity: 0.95;

}

.copyright{
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

#img {
  height: auto;
  max-width: 100%;
  margin-bottom: 15px;
}

#title-text{
  font-size: 33px;
  padding-left: 15px;
  margin-bottom: 0;
}

#logo{
  height: auto;
  max-width: 100%;
  padding-bottom: 20px;
}

#welcome{
  padding-bottom: 30px;
}

#pic {
  height: auto;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#director{
  background-color: #E6A770;
  padding-top: 20px;
  padding-bottom: 20px;
}


.accordion-item{
  border: 0px;
  padding: 0px;
  background-color: #E3C5B1;
}

.the4{
  background-color: #E3C5B1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.team-photos{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  font-size: x-large;
  margin: 0;
}

.navbar-toggler{
  margin-right: 15px;
}


.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: large;
}

.nav-link:hover {
  text-decoration: underline;
}

.collapse {
  justify-content: right;
}

.carousel-indicators{
  margin-bottom: 0;
  padding-bottom: 0;
}

.carousel-control-prev{
height: auto;
}


.carousel-control-next{
  height: auto;

}

.carousel-item{
  background-color: #E3C5B1;
}



#delegation-button{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  color: black;
  font-family: 'Arial Nova Light';
  background-color: #F79C5A;
}

#delegation-button:hover{
  background-color: #E3C5B1
}

iframe{
  display: block;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.exec-text{
  margin-top: auto;
  margin-bottom: auto;

}

#big4row{
  padding-bottom: 20px;
}